<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestJenkins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52DC4FBC1E80C6DA0098931A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52DC4FD51E80C6DA0098931A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52DC4FE01E80C6DA0098931A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
